Source: huayra-about
Maintainer: Diego Accorinti <diegoacco@gmail.com>
Section: python
Priority: optional
Build-Depends: python (>= 2.6.6-3), debhelper (>= 9.0)
X-Python-Version: >=2.7
Standards-Version: 3.9.4
Vcs-Git: https://github.com/HuayraLinux/huayra-about

Package: huayra-about
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, base-files(>=7.1), lsb-release,
 coreutils (>=8.13), procps, util-linux (>=2.20.1), python-gtk2, python-apt
Description: Acerca de Huayra
 Lista información referida a las versiones de la instalación de
 Huayra, Debian, versión del Kernel, memoria y procesador. Esta información se presenta en una ventana y/o
 en la consola, y se puede copiar para enviar en texto plano.

